.toc .nav > li > a {
  margin-top: 5px;
}

.toc .nav > li.active > .expand-stub::before,
.toc .nav > li.in > .expand-stub::before,
.toc .nav > li.in.active > .expand-stub::before,
.toc .nav > li.filtered > .expand-stub::before {
    content: "\2012";
}

.toc .nav > li > .expand-stub::before,
.toc .nav > li.active > .expand-stub::before {
    content: "+";
}

a.anchorjs-link {
  display: none
}

.sidetoc.shiftup {
  bottom: 38px;
  border: width  color;
}

article h4{
  margin-bottom: 12px;
  border-bottom: 0px solid;
  overflow:hidden;
}

/* border in middle */
article h4:after {
content:'';
border-top: 1px solid #ccc;
vertical-align:bottom;
display:inline-block;
width:100%;
margin-right:-100%;
margin-left:15px;
height:0.5em;
}

pre{ 
border-radius:0px
}


.inheritance , .derivations {
  display:inline-flex;
  flex-wrap: wrap;
vertical-align:bottom;
}

.inheritance h5, .derivations h5  {
  border-bottom:0px transparent;
  margin-top:2px;  
  margin-bottom:0px;  
}


.inheritance .level0:before {
    content: '';  
}

.inheritance .level1:before,
.inheritance .level2:before,
.inheritance .level3:before,
.inheritance .level4:before,
.inheritance .level5:before {
    content: '\2771';
    margin-right: 3px;
    margin-left: 5px;
    display: inline-block;
}

.inheritance .level0,
.inheritance .level1,
.inheritance .level2,
.inheritance .level3,
.inheritance .level4,
.inheritance .level5 {
    margin-left: 2px;
}

  
.derivations .level1:before,
.derivations .level2:before,
.derivations .level3:before,
.derivations .level4:before,
.derivations .level5:before {
    content: '\bb';
    margin-right: 3px;
    margin-left: 5px;
    display: inline-block;
}

.derivations .level0,
.derivations .level1,
.derivations .level2,
.derivations .level3,
.derivations .level4,
.derivations .level5 {
    margin-left: 2px;
}


.toc ul {
    margin: 0 0 0 0px;
}

 .nav.level3 {
    margin: 0 0 0 10px;
}


.footer {
    padding: 8px 0;
}

.sidetoc {
  top: 110px;
}

.sidefilter {
  top: 50px;
}

.toc-filter {
    border-radius: 0px;
}

.form-control {
  height:50px;
  padding:0px 20px!important;
  background-color:rgba(0,0,0,.0);
  color:rgb(255, 255, 255);
  border:0px solid #ccc;
  border-radius:0px;
 }

.navbar-form{
  width:40%;
  margin:0px 0px;
  padding:0px 0px;
}
.navbar-collapse {
    padding-right: 0px;
}

.navbar-brand {
  margin-right: 15px;
}

.navbar-brand :hover {
 background-color:black; 
}